.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}